.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  background-color: #fff;
}

.productImage {
  width: 180px;
  height: 180px;
  border-radius: 8px;
  margin-bottom: 8px;
  background-color: lightgray;
}

.productInfo {
  text-align: center;
}

.productName {
  font-size: 16px;
}

.productPrice {
  font-size: 16px;
  font-weight: bold;
  color: #5b76f5;
}

